


/* CSS for Footer Styling */
footer {
  /* background-color: #e6e8ed;  */
  background-color:#ffffff;
  color: #000; 
  font-family: 'Times New Roman', Times, serif; 
  padding: 20px 0;
}

.main {
  font-size: 1.2em; 
}

.subname {
  font-size: 1em; 
}

.text-center {
  text-align: center; 
}


.text-decoration-none {
  text-decoration: none; 
  color: #007bff; 
}





